@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
/*font-family: 'Roboto', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;*/
body{
    font-family: 'Roboto', sans-serif;
}
.profile-name{
    color: #000000;
    font-size: 24px;
    margin-right: 15px;
    font-weight: bold;
}
.profile-loc{
    color: #757575;
    font-size: 14px;
}
.designation{
    color: #f56a6a;
    font-size: 16px;
}
.fa-map-marker{
    
}
p{
    font-size: 16px;
}
.text-uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}



